.error-section {
  padding: var(--spacing-24) 0px;
}

.error-section .inner-box .error-image {
  position: relative;
  display: block;
  margin-bottom: var(--spacing-24);
}

.error-section .inner-box h2 {
  display: block;
  font-size: var(--font-size-4xl);
  line-height: 50px;
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-10);
}

.error-section .inner-box .theme-btn-one {
  padding: var(--spacing-3) var(--spacing-16);
}

.error-section .inner-box .theme-btn-one i {
  position: relative;
  font-size: var(--font-size-sm);
  top: 1px;
  margin-right: var(--spacing-2);
}
