/** page-title **/

.page-title {
  position: relative;
  padding: var(--spacing-24) 0px var(--spacing-24) 0px;
}

.page-title .bg-layer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page-title .bg-layer:before {
  position: absolute;
  content: "";
  background-color: var(--color-bg-hero-dark);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.65;
}

.page-title h1 {
  position: relative;
  display: block;
  font-size: var(--font-size-6xl);
  line-height: 70px;
  color: var(--color-text-white);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-6);
}

.page-title .bread-crumb li {
  position: relative;
  display: inline-block;
  font-size: var(--font-size-lg);
  line-height: 28px;
  color: var(--color-text-white);
  font-weight: var(--font-weight-medium);
  margin-right: var(--spacing-12);
}

.page-title .bread-crumb li:last-child {
  margin: 0px;
}

.page-title .bread-crumb li a {
  display: inline-block;
  color: var(--color-text-white);
}

.page-title .bread-crumb li:after {
  position: absolute;
  font-family: "Font Awesome 5 Pro";
  content: "\f105";
  font-size: 16px;
  font-weight: 500;
  right: -22px;
  top: 0px;
}

.page-title .bread-crumb li:last-child:after {
  display: none;
}
