.projects__item + .projects__item {
  border-top: var(--border-width-thin) solid var(--color-primary);
  margin: var(--spacing-24) 0;
  padding-top: var(--spacing-24);
}

.project__item__gallery {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 9;
  background: rgba(0, 0, 0, 0.66);
  cursor: pointer;
  transition: var(--transition-all);

  font-family: swiper-icons;
  font-size: var(--font-size-lg);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: normal;
  line-height: 1;
  color: var(--color-text-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.project__item__gallery:hover {
  background: rgba(0, 0, 0, 0.7);
}
.project__item__gallery--prev {
  left: 0;
}
.project__item__gallery--prev:after {
  content: "prev";
}
.project__item__gallery--next {
  right: 0;
}
.project__item__gallery--next:after {
  content: "next";
}
.projects__img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: var(--transition-all);
  transition-delay: calc(0.1);
}
